<h1><%= @exhibit.name%> (Exhibit)</h1>

<h3> Here is some information on this particular exhibit </h3>

<h4> After 1948 Matisse was prevented from painting by ill health but, although confined to bed, he produced a number of works known as gouaches découpées. These were made by cutting or tearing shapes from paper which had been painted with gouache. The shapes were placed and pasted down by an assistant working under Matisse's instruction. Some of the later ones, such as The Snail, were of very large dimensions. The technique, explored in his picture book Jazz (published 1947) and other works, opened up new possibilities for him. Matisse said of the technique that it "allows me to draw in the colour. It is a simplification for me. Instead of drawing the outline and putting the colour inside it - the one modifying the other - I draw straight into the colour"

Matisse's daughter Mme Duthuit said that her father made many drawings of snails at this time and that the idea for this work came out of these. The concentric pattern formed by the coloured shapes in the centre of the work echoes the spiral pattern found in the snail's shell.</h4>

<h5> Matisse told André Verdet
<br>
<br>
 ‟I first of all drew the snail from nature, holding it. I became aware of an unrolling, I found an image in my mind purified of the shell, then I took the scissors”. He has combined pairs of complementary colours - red/green, orange/blue, yellow/mauve - to create a particularly vibrant effect. He gave the picture the alternative title La Composition Chromatique</h5>
