<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ongo Gablogian's Gallery!</title>
     <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <img src="https://external-preview.redd.it/vamnazEWjPlQWM3jZyVP6PbL_Ql93UCSfvb25Czrt4w.png?width=640&crop=smart&auto=webp&s=5e5213d85c2c4d44de74932979c264460bc19853" alt="">
    <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/artists">Artists</a>
      </li>
      <li>
        <a href="/exhibits">Exhibits</a>
      </li>
      <li>
        <a href="/managers">Manager</a>
      </li>
    </ul>
  </nav>
  </header>
    <%= yield %>
  </body>
</html>
