<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ongo Gablogian's Gallery!</title>
     <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
    <a href="http://localhost:4567/about">  <img src="https://assets.bigcartel.com/product_images/249725180/gablogian.png?auto=format&fit=max&w=1200" alt="">
      </a>
    <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/artists">Artists</a>
      </li>
      <li>
        <a href="/exhibits">Exhibits</a>
      </li>
      <li>
        <a href="/managers">Manager</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
  </header>
    <%= yield %>
  </body>
</html>
