header img {
    height: 150px;
}

body {
    background-image: url('https://i.etsystatic.com/5806186/r/il/a9197e/1793100791/il_1588xN.1793100791_d7y9.jpg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 50px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 40px;
}

header li a {
    color: black;
    text-decoration: none;
    padding: 14px 16px;
}

li a:hover {
  background-color: black;
  color:white
}

img.animated-gif{
  width: 1200px;
  height: auto;
}

img.artist_pic{
  width: 600px;
  height: auto;
}

.show_info{
  background-image: url=("https://external-preview.redd.it/vamnazEWjPlQWM3jZyVP6PbL_Ql93UCSfvb25Czrt4w.png?width=640&crop=smart&auto=webp&s=5e5213d85c2c4d44de74932979c264460bc19853")
  color: white;
  box-shadow: 0 0 25px 0 black;
  border-radius: 25px;
  border: 1px solid black;
  font-size: 20px;
}

.homepage_header{
  font-size: 25px;
  text-align: center;
}

.showing_artists{
  background-image: url=("https://external-preview.redd.it/vamnazEWjPlQWM3jZyVP6PbL_Ql93UCSfvb25Czrt4w.png?width=640&crop=smart&auto=webp&s=5e5213d85c2c4d44de74932979c264460bc19853")
  color: white;
  box-shadow: 0 0 25px 0 black;
  border-radius: 25px;
  border: 1px solid black;
  font-size: 20px;
  margin: auto;
}
 .textp {
  font-weight: 400;
  border-radius: 25px;
  border: 1px solid black;
  text-shadow: 0 1px 0 black;
 }

.showing_exhibits{
  box-shadow: 0 0 25px 0 black;
  border-radius: 25px;
  border: 1px solid black;
  font-size: 30px
}

th{
  padding: 40px;
  text-align: left;
}

h4{
  background-color: white;
  box-shadow: 0 0 25px 0 black;
  border-radius: 25px;
  border: 1px solid black;
  font-size: 18px;
  text-align: center;
}

h5{
  background-color: white;
  box-shadow: 0 0 25px 0 black;
  border-radius: 25px;
  border: 1px solid black;
  font-size: 18px;
  text-align: center;
}

.manager_view{

  background-color: white;
  box-shadow: 0 0 25px 0 black;
  border-radius: 25px;
  border: 1px solid black;
  font-size: 18px;
  text-align: center;

}

.managers_page{

  background-color: white;
  box-shadow: 0 0 25px 0 black;
  border-radius: 25px;
  border: 1px solid black;
  font-size: 18px;
  text-align: left;


}
