<form method="post" action="/managers/artists">

  <label for="name-field">Artist Name:</label>
    <input id="name-field "type="text" name="name"/>

  <label for="age-field">Age:</label>
    <input id="age-field "type="number" name="age"/>

  <label for="dob-field">DOB:</label>
    <input id="dob-field" type="number" name="dob"/>

  <label for="dod-field">DOD:</label>
    <input id="dod-field" type="number" name="dod"/>

    <input id="add-button" type="submit" value="Add Artist">
</form>
