<h1> Welcome to the Managers page. </h1>

<div class="managers_page">

<ul>
  <li><a href="/managers/artists">Click here to view all Artists</a></li>
  <li><a href="/managers/exhibits">Click here to view all Exhibits</a></li>
  <li><a href="/managers/newartist">Click here to add a new Artist</a></li>
  <li><a href="/managers/newexhibit">Click here to add a new Exhibit</a></li>
</ul>

</div>
